html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.bg_member_poker_notify {
	background-color: orange !important;	
}
.bg_member_poker_notify a {
	color: white !important;
}
.bg_member_poker_notify:hover {
	
}

.reminder_normal {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding-left: 10px;
	margin-bottom: 3px;
}
.reminder_yellow {
	background-color: #f9f2d6;
	border: 1px solid #e4e1d0;
	color: #6d5c28;
}
.reminder_red {
	background-color: #fbc1cf;
	border: 1px solid #b8909b;
	color: #541311;
}

.announcement_normal {
	width: 100%;
	min-height: 50px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 2px;
}
.announcement_yellow {
	background-color: #f8f8f8;
	border:1px solid #cad0dc;
	color: black;	
}
.announcement_blue {
	background-color: #dfe9f3;
	border:1px solid #7b96ab;
	color: black;	
}
.announcement_red {
	background-color: #fbc1cf;
	border: 1px solid #b8909b;
	color: black;	
}